@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Halant:wght@300;400;500;600;700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --colour-primary: #2b3549;
  --colour-text: #f0f0f0;
  --colour-content-text: #000000;
  --max-width-header: 1200px;
  --max-width-content: 1100px;
  --font-sans: "Quattrocento Sans", sans-serif;
  --font-serif: "Halant", serif;
}
