body {
    background-color: white;
    font-family: 'Fira Sans', 'Halant' 'Quattrocento Sans', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}


nav li {
    display: inline-block;
}


h1, h2, h3 {
    font-family: 'Fira Sans', 'Halant', 'Quattrocento Sans', 'Verdana', 'Geneva', 'Sans-serif';
    color: black;
}

body {
    background-color: white;
    font-family: 'Fira Sans', 'Halant' 'Quattrocento Sans', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

footer {
  background:#2B3549 ;
  color: white;
}



