body {
    background-color: white;
    font-family: 'Fira Sans', 'Halant' 'Quattrocento Sans', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

h1, h2, h3 {
    font-family: 'Fira Sans', 'Halant', 'Quattrocento Sans', 'Verdana', 'Geneva', 'Sans-serif';
    color: black;
}


.display {
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 40px;
    font-weight: 30;
    width: 100%;
    height: 100%;
    text-align: inline-block;

}

nav div a :hover { 
    text-decoration: underline;
}

nav ul {
    padding: 20px;
}

.btn{
    border: 1px solid black;
    padding: 4px;
    display: inline block;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    color: rgb(0, 0, 0);
    background-color: white;
}

.fa-check {
font-size: 150px;
}

* {
    margin: 0%;
    padding: 0%;
}


.img-womanpink {
    width: 420px;
    height: 544px;
}

.img-urbanwoman {
    width: 420px;
    height: 554px;
}

.img-skiingwom {
    width: 420px;
    height: 554px;
}

.img-woman {
    width: 420px;
    height: 554px;
}

.img-womanerun {
    height: 420px;
    width: 554px;
}

.img-womanwood {
    height: 420px;
    width: 544px;
}